<h2 mat-dialog-title>Edit Task {{ data.title }}</h2>
<mat-dialog-content id="editTaskContent">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput [(ngModel)]="data.status" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions id="editTaskActions">
  <button mat-button class="btn btn-primary" (click)="cancel()">Cancel</button>
  <button mat-button class="btn btn-primary" (click)="save()">Save</button>
</mat-dialog-actions>
